.character-header {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.character-header__name {
    width: 40%;
    min-height: 170px;
    background-image: url('../../../img/headerChar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 40px 0;
    label {
        display: block;
        margin-top: 50px;
        text-transform: uppercase;
    }
}

.character-header__info {
    width: 60%;
    min-height: 190px;
    background-image: url('../../../img/headerInfo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 90%;
    transform: translateX(-4px);
    padding: 60px 40px 20px 40px;
}
.character-header__info-row {
    &:first-of-type {
        margin-bottom: 15px;

    }
}