.character-inspiration {
    width: 100%;
    display: flex;
    min-height: 40px;
    margin-bottom: 15px;
}
.character-inspiration__head {
    // background-image: url('../../../img/headSquare.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
}

.character-inspiration-btn {
    position: relative;
    display: flex;
    height: 100%;
    svg {
        align-self: center;
    }
    &:hover {
        cursor: pointer;
    }
}
.character-inspiration__input {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: transparent;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    font-size: 20px;
}
.character-inspiration__body {
    display: flex;
    align-self: center;
    width: 100%;
    min-height: 40px;
    background-image: url('../../../img/inspiration.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 15px 0 10px;
    text-align: center;
    span {
        align-self: center;
        display: block;
        width: 100%;
    }
}