.character-proficiency {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.character-proficiency__head {
    background-repeat: no-repeat;
    background-size: cover;
}
.character-proficiency-btn {
    // display: flex;
    // width: 40px;
    // height: 100%;
    svg {
        // align-self: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.character-proficiency__body {
    display: flex;
    align-self: center;
    width: 100%;
    min-height: 43px;
    padding: 0 15px 0 10px;
    background-image: url('../../../img/proficiencyBonusBody.svg');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    transform: translate(-8px, -1px);
    span {
        align-self: center;
        display: block;
        width: 100%;
    }
}